<%= render(:partial => '/projects/dashboard_header') %>
<aside class="user_left1 alg_reg">
	<h3>Earnings</h3>
	<div class="usr_lbl">
		<a class="<%= request.fullpath.include?("send_invoice") == true ? 'active' : '' %>" href="<%= earnings_send_invoice_path %>"> Send Invoice</a>
	</div>
	<div class="usr_lbl">
		<a class="<%= request.fullpath.include?("payment_list") == true ? 'active' : '' %>" href="<%= accounting_payment_list_path %>">Earnings</a>
	</div>
	<div class="usr_lbl">
		<a class="<%= request.fullpath.include?("account_list") == true ? 'active' : '' %>" href="<%= accounting_account_list_path %>">Payment Settings</a>
	</div>
	<div class="usr_lbl">
		<a class="<%= request.fullpath.include?("transactions") == true ? 'active' : '' %>" href="<%= accounting_transactions_path %>"> Transaction History</a>
	</div>
	<div class="usr_lbl">
		<a class="<%= request.fullpath.include?("withdrawals") == true ? 'active' : '' %>" href="<%= accounting_withdrawals_path %>">Withdraw Funds</a>
	</div>
	<div class="usr_lbl">
		<a class="<%= request.fullpath.include?("deposits") == true ? 'active' : '' %>" href="<%= accounting_deposits_path %>">Deposit Funds</a>
	</div>
</aside>