<!DOCTYPE html>
<html>
<head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hi <%= @user.visible_name %>,</p>
  <p><a href="<%= @login_url%>">Login</a> to submit a quote on</p>
  <p><b>Project Title:</b> <%= @project.full_title %></p>
  <p><b>Category:</b> <%= @project.category_name %> </p>
  <p><b>Subcategory:</b> <%= @project.subcategory_name %> </p>
  <p><b>Business Type:</b> <%= @project.business_type_name %></p>
  <p><b>Skills Required:</b> <%= @project.skills %></p>
  <p><b>Budget:</b> <%= @project.budget %></p>
  <p><b>Estimated Time Frame:</b> <%= @project.estimated_time %></p>
  <p><b>Location:</b> <%= @project.location %></p>
  <p><b>Description:</b> <%= @project.description %> </p>

<p>Sincerely,</p>
<img src="<%= SITE_LOGO%>" height="35px" />
<p><%= EMAIL_SIGN_EMAIL %></p>
<p><%= EMAIL_SIGN_NUMBER%></p>
</body>
</html>
